*{
    text-transform:capitalize;
    font-family:'Times New Roman', Times, serif;
}
body{
    background: hsla(312, 77%, 86%, 1);

    background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7C0EC", endColorstr="#A7BDEA", GradientType=1 );;
}
h1{
    justify-content: center;
    text-align: center;

}
    /* font-size: large; */
/* padding-bottom: 180px;
padding-top: 150px; */

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container input{
    width: 400px;
    height: 100%;
    outline: none;
    font-family:'Times New Roman', Times, serif ;
    margin-right: 5px;
    margin-left: 170px;
    font-size: 19px;
    padding: 8px 6px;
    border-color: rgba(233, 230, 230, 0.979);
}

.container button{
    /* width: 58px;
    height: 43px; */
    font-size: 20px;
    padding: 8px;
    outline: none;
     border: none;
    color:white;
    border-radius: 2px solid rgba(255, 255, 255, 0.1);
    /* background-color: rgb(5, 12, 12); */
    color: rgb(7, 7, 7);
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}
.container ul{
    /* position: absolute; */
    display: flex;
    list-style: none;
    margin-top: 90px;
    justify-content: center;
}
.container ul li{
    width: 120px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 19px;
    color: rgb(25, 26, 26);
}
.container ul li span{
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(206, 126, 47);
    color: rgb(15, 15, 14);
    width: 120px;
    height: 75px;
    font-size:30px ;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
